body {
  max-width: 960px;
  margin: 20px auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 50px;
  background-color: #f4f4f4;
  padding: 50px;
  padding-top: 20px;
}

form {
  display: block;
}

label {
  display: block;
  font-size: 12px;
  font-weight: bold;
}

.form p {
  font-size: 14px;
  text-align: justify;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
}

input[type="submit"] {
  display: block;
  width: 10%;
  text-align: center;
  outline: 0;
  padding: 10px;
  cursor: pointer;
  background-color: #777;
  color: #f4f4f4;
  outline: 0;
  border: 0;
}

textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


.form small {
  color: red;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 2px solid rgba(119, 119, 119, .4);
  padding-bottom: 20px;
}

.aside h5 {
  margin-bottom: 3px;
}

.aside {
  width: 100%;
}
